{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
            <h1 class="mt-5">About Fort RD's BnB</h1>
            <hr>
            <img src="/static/images/outside.png" class="d-block w-100" alt="Outside">

            <p class="mt-3">
                Welcome to our charming hillside Bnb nestled in the heart of beautiful California! Our tranquil retreat offers a unique blend of relaxation and adventure, providing guests with a memorable escape from the hustle and bustle of everyday life.

                Perched atop the rolling hills, our Bnb boasts breathtaking panoramic views of the surrounding landscape, including lush forests, picturesque valleys, and, on clear days, glimpses of the Pacific Ocean in the distance. You'll wake up to the soothing sounds of nature and enjoy awe-inspiring sunsets that paint the sky in a symphony of colors.

                Our accommodation offers a cozy and inviting atmosphere, featuring thoughtfully designed rooms with modern amenities to ensure your comfort and convenience. Whether you're seeking a romantic getaway, a peaceful retreat, or a base for exploring the local hiking trails and outdoor adventures, our hillside Bnb is the perfect choice.

                Savor a delicious homemade breakfast prepared with locally sourced ingredients, and relax on our spacious outdoor deck as you take in the views and bask in the California sunshine. You can also explore the nearby attractions, including wineries, charming small towns, and cultural landmarks.

                At our hillside Bnb, you'll experience the best of California's natural beauty while enjoying the warmth and hospitality of our dedicated hosts. We look forward to welcoming you to our slice of paradise and ensuring your stay is filled with relaxation, adventure, and unforgettable memories.
            </p>
        </div>
    </div>

</div>
{{end}}