{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
            <h1 class="mt-5">Contact Us</h1>
            <hr>
            <div class="text-center">
                <strong>
                    Fort RD's BnB<br>
                    100 FortRoad,<br>
                    Santa Monica, California,<br>
                    +1 (418) 051 0219<br>
                    <a href="mailto:info@frdbnb.ca">info@frdbnb.ca</a>
                </strong>
            </div>
        </div>
    </div>


</div>
{{end}}