{{template "base" .}}

{{define "content"}}
<div id="main-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/images/woman-laptop.png" class="d-block w-100" alt="Woman and Laptop">
            <div class="carousel-caption d-none d-md-block">
                <h2>Charming Accommodation</h2>
                <h5 class="text-youtube">Our BnB offers charming and cozy accommodations that provide a perfect retreat for travelers seeking comfort and relaxation. Each room is thoughtfully designed with your comfort in mind, featuring a blend of modern amenities and classic decor. Whether you're traveling for business or leisure, our well-appointed rooms will ensure a restful and enjoyable stay.</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/static/images/outside.png" class="d-block w-100" alt="Outside">
            <div class="carousel-caption d-none d-md-block">
                <h2>Picturesque Location</h2>
                <h5 class="text-youtube">Nestled in the heart of [Your Location], our BnB boasts a picturesque setting that immerses you in the natural beauty of the area. Wake up to breathtaking views of [Local Landmark] or enjoy a leisurely stroll through our lush gardens. Our convenient location provides easy access to nearby attractions and activities, making it an ideal choice for both relaxation and exploration.</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/static/images/tray.png" class="d-block w-100" alt="Tray with coffee">
            <div class="carousel-caption d-none d-md-block">
                <h2>Personalized Hospitality</h2>
                <h5 class="text-youtube">We take pride in providing personalized hospitality that exceeds your expectations. Our dedicated staff is committed to making your stay unforgettable. From a warm welcome upon arrival to attentive service throughout your stay, we are here to cater to your every need. Whether you need local recommendations, special dietary accommodations, or assistance with planning excursions, we're here to ensure your stay is nothing short of exceptional.</h5>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">Welcome to Fort RD's BnB</h1>
            <p>Discover a warm and inviting retreat at Fort RD's BnB. Nestled on the charming Fort Road, our bed and breakfast offers a haven of comfort and relaxation. With thoughtfully designed rooms, each adorned with a blend of modern amenities and rustic touches, guests are embraced by a sense of home away from home. Whether you're seeking a tranquil getaway or a convenient base to explore the nearby attractions, our BnB promises a memorable stay filled with genuine hospitality and a touch of local charm.</p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a href="/search-availability" class="btn btn-success">Make Reservation Now</a>
        </div>
    </div>
</div>
{{end}}